.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1200px;
}
.elementor-278
    .elementor-element.elementor-element-3061482.elementor-widget-heading
    .elementor-heading-title,
.elementor-278
    .elementor-element.elementor-element-4124ba7
    .elementor-icon-box-content
    .elementor-icon-box-description,
.elementor-278
    .elementor-element.elementor-element-46ff002
    .elementor-icon-box-content
    .elementor-icon-box-description,
.elementor-278
    .elementor-element.elementor-element-62f01eb
    .elementor-icon-box-content
    .elementor-icon-box-description,
.elementor-278
    .elementor-element.elementor-element-cabc51d
    .elementor-icon-box-content
    .elementor-icon-box-description,
.elementor-278
    .elementor-element.elementor-element-e9d38d0
    .elementor-icon-box-content
    .elementor-icon-box-description,
.elementor-278
    .elementor-element.elementor-element-fb8c028
    .elementor-icon-box-content
    .elementor-icon-box-description {
    color: #fff;
}
.elementor-278 .elementor-element.elementor-element-1777cca,
.elementor-278 .elementor-element.elementor-element-a1b79d2,
.elementor-278 .elementor-element.elementor-element-aabb4d3,
.elementor-278 .elementor-element.elementor-element-adf135f,
.elementor-278 .elementor-element.elementor-element-ff00f4c .jet-download,
.elementor-278
    .elementor-element.elementor-element-ff00f4c
    .jet-download__text {
    text-align: center;
}
.elementor-widget-heading .elementor-heading-title {
    padding-bottom: 1rem;
    padding-right: 5.5rem;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}
.elementor-footer-title {
    padding-bottom: 16px;
    padding-right: 88px;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    font-size: 24px;
}
.elementor-278
    .elementor-element.elementor-element-1777cca
    .elementor-heading-title,
.elementor-278
    .elementor-element.elementor-element-a1b79d2
    .elementor-heading-title,
.elementor-278
    .elementor-element.elementor-element-aabb4d3
    .elementor-heading-title {
    font-size: 24px;
}
#bdt-modal473744b.bdt-modal .bdt-modal-body {
    color: #050505;
}
.elementor-278
    .elementor-element.elementor-element-6ac24e6.elementor-column
    .elementor-column-wrap,
.elementor-278
    .elementor-element.elementor-element-745f865.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-heading-title-vrio {
    font-size: 22px;
    padding-bottom: 1rem;
    padding-right: 5.5rem;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}
.elementor-278 .elementor-element.elementor-element-1e2ab42,
.elementor-278 .elementor-element.elementor-element-b697893 {
    color: #000;
}
.elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-field-group,
.elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-field-group {
    padding-right: calc(25px / 2);
    padding-left: calc(25px / 2);
    margin-bottom: 10px;
}
.elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-form-fields-wrapper,
.elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-form-fields-wrapper {
    margin-left: calc(-25px / 2);
    margin-right: calc(-25px / 2);
    margin-bottom: -10px;
}
body.rtl
    .elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-labels-inline
    .elementor-field-group
    > label,
body.rtl
    .elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-left: 0;
}
body:not(.rtl)
    .elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-labels-inline
    .elementor-field-group
    > label,
body:not(.rtl)
    .elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-right: 0;
}
body
    .elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-labels-above
    .elementor-field-group
    > label,
body
    .elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-labels-above
    .elementor-field-group
    > label {
    padding-bottom: 0;
}
.elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-field-group
    .elementor-select-wrapper
    select,
.elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-field-group:not(.elementor-field-type-upload)
    .elementor-field:not(.elementor-select-wrapper),
.elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-field-group
    .elementor-select-wrapper
    select,
.elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-field-group:not(.elementor-field-type-upload)
    .elementor-field:not(.elementor-select-wrapper) {
    background-color: #fff;
    border-color: #ed1c24;
    border-width: 3px;
}
.elementor-278
    .elementor-element.elementor-element-0051e65
    .elementor-field-group
    .elementor-select-wrapper::before,
.elementor-278
    .elementor-element.elementor-element-3cb41a0
    .elementor-field-group
    .elementor-select-wrapper::before {
    color: #ed1c24;
}
.elementor-278 .elementor-element.elementor-element-0051e65 .elementor-button,
.elementor-278 .elementor-element.elementor-element-3cb41a0 .elementor-button {
    font-size: 20px;
    font-weight: 700;
}
.elementor-278
    .elementor-element.elementor-element-e8ba983
    .elementor-divider-separator,
.elementor-278
    .elementor-element.elementor-element-fed09c1
    .elementor-divider-separator {
    border-top: 3px solid #000;
    width: 100px;
}
.elementor-278 .elementor-element.elementor-element-abc031d .elementor-divider,
.elementor-278 .elementor-element.elementor-element-e8ba983 .elementor-divider,
.elementor-278 .elementor-element.elementor-element-fed09c1 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-278
    .elementor-element.elementor-element-fi4c6qk
    .elementor-spacer-inner {
    height: 11px;
}
.elementor-278
    .elementor-element.elementor-element-h5kskmc
    .elementor-spacer-inner {
    height: 22px;
}
.elementor-278 .elementor-element.elementor-element-k8r25db {
    background-color: #f9f9f9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 5rem 0 5.5rem;
}
.elementor-278
    .elementor-element.elementor-element-7288771
    > .elementor-background-overlay,
.elementor-278
    .elementor-element.elementor-element-k8r25db
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-278
    .elementor-element.elementor-element-ec08c62
    .elementor-spacer-inner {
    height: 7px;
}
.elementor-278
    .elementor-element.elementor-element-fda0a5c
    .elementor-spacer-inner {
    height: 18px;
}
.elementor-278 .elementor-element.elementor-element-f19a8bd {
    color: #383838;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.743em;
}
.elementor-278
    .elementor-element.elementor-element-54ed57c
    > .elementor-element-populated {
    padding: 0 50px 0 0;
}
.elementor-278
    .elementor-element.elementor-element-da88e63
    .elementor-spacer-inner {
    height: 20px;
}
.elementor-278 {
    padding: 90px 0;
}
.elementor-278
    .elementor-element.elementor-element-abc031d
    .elementor-divider-separator {
    border-top: 3px solid #fff;
    width: 100px;
}
.elementor-278
    .elementor-element.elementor-element-0c478ee
    > .elementor-element-populated,
.elementor-278
    .elementor-element.elementor-element-0d0ab52
    > .elementor-element-populated,
.elementor-278
    .elementor-element.elementor-element-1f25344
    > .elementor-element-populated,
.elementor-278
    .elementor-element.elementor-element-3598584
    > .elementor-element-populated,
.elementor-278
    .elementor-element.elementor-element-76ccdf5
    > .elementor-element-populated,
.elementor-278
    .elementor-element.elementor-element-a45c1bb
    > .elementor-element-populated {
    padding: 20px 0;
}
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-view-stacked
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-view-stacked
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-view-stacked
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-view-stacked
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-view-stacked
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-view-stacked
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-view-stacked
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-view-stacked
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-view-stacked
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-view-stacked
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-view-stacked
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-view-stacked
    .elementor-icon:hover {
    background-color: #fff;
}
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-view-default
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-view-default
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-view-framed
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-view-framed
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-view-default
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-view-default
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-view-framed
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-view-framed
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-view-default
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-view-default
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-view-framed
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-view-framed
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-view-default
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-view-default
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-view-framed
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-view-framed
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-view-default
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-view-default
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-view-framed
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-view-framed
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-view-default
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-view-default
    .elementor-icon:hover,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-view-framed
    .elementor-icon,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-view-framed
    .elementor-icon:hover {
    color: #fff;
    border-color: #fff;
}
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-position-right
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-position-right
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-position-right
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-position-right
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-position-right
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-position-right
    .elementor-icon-box-icon {
    margin-left: 30px;
}
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-position-left
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-position-left
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-position-left
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-position-left
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-position-left
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-position-left
    .elementor-icon-box-icon {
    margin-right: 30px;
}
.elementor-278
    .elementor-element.elementor-element-4124ba7.elementor-position-top
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-46ff002.elementor-position-top
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-cabc51d.elementor-position-top
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-e9d38d0.elementor-position-top
    .elementor-icon-box-icon,
.elementor-278
    .elementor-element.elementor-element-fb8c028.elementor-position-top
    .elementor-icon-box-icon {
    margin-bottom: 30px;
}
.elementor-278 .elementor-element.elementor-element-4124ba7 .elementor-icon,
.elementor-278 .elementor-element.elementor-element-46ff002 .elementor-icon,
.elementor-278 .elementor-element.elementor-element-62f01eb .elementor-icon,
.elementor-278 .elementor-element.elementor-element-cabc51d .elementor-icon,
.elementor-278 .elementor-element.elementor-element-e9d38d0 .elementor-icon,
.elementor-278 .elementor-element.elementor-element-fb8c028 .elementor-icon {
    font-size: 60px;
}
.elementor-278 .elementor-element.elementor-element-4124ba7 .elementor-icon i,
.elementor-278 .elementor-element.elementor-element-46ff002 .elementor-icon i,
.elementor-278 .elementor-element.elementor-element-62f01eb .elementor-icon i,
.elementor-278 .elementor-element.elementor-element-cabc51d .elementor-icon i,
.elementor-278 .elementor-element.elementor-element-e9d38d0 .elementor-icon i,
.elementor-278 .elementor-element.elementor-element-fb8c028 .elementor-icon i {
    transform: rotate(0);
}
.elementor-278
    .elementor-element.elementor-element-4124ba7
    .elementor-icon-box-content
    .elementor-icon-box-title,
.elementor-278
    .elementor-element.elementor-element-46ff002
    .elementor-icon-box-content
    .elementor-icon-box-title,
.elementor-278
    .elementor-element.elementor-element-62f01eb
    .elementor-icon-box-content
    .elementor-icon-box-title,
.elementor-278
    .elementor-element.elementor-element-cabc51d
    .elementor-icon-box-content
    .elementor-icon-box-title,
.elementor-278
    .elementor-element.elementor-element-e9d38d0
    .elementor-icon-box-content
    .elementor-icon-box-title,
.elementor-278
    .elementor-element.elementor-element-fb8c028
    .elementor-icon-box-content
    .elementor-icon-box-title {
    color: #fff;
    text-transform: none;
}
.elementor-278
    .elementor-element.elementor-element-62f01eb.elementor-position-top
    .elementor-icon-box-icon {
    margin-bottom: 2.8125rem;
}
.elementor-278 .elementor-element.elementor-element-7288771 {
    background-color: #943635;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 2rem 0;
    margin-bottom: 1rem;
}
@media (max-width: 1024px) {
    .elementor-278
        .elementor-element.elementor-element-0051e65
        .elementor-button {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .elementor-278 .elementor-element.elementor-element-745f865 {
        width: 47.917%;
    }
    .elementor-278 .elementor-element.elementor-element-11979e3 {
        width: 42%;
    }
    .elementor-278 .elementor-element.elementor-element-7bdebdc {
        width: 58%;
    }
    .elementor-278 .elementor-element.elementor-element-11e788b {
        width: 35%;
    }
    .elementor-278 .elementor-element.elementor-element-54ed57c {
        width: 65%;
    }
    .elementor-278 .elementor-element.elementor-element-6e28b06 {
        width: 67.417%;
    }
    .elementor-278 .elementor-element.elementor-element-6ac24e6 {
        width: 32.583%;
    }
}
@media (max-width: 767px) {
    .elementor-278
        .elementor-element.elementor-element-0051e65
        .elementor-button {
        font-size: 12px;
    }
    .elementor-278
        .elementor-element.elementor-element-54ed57c
        > .elementor-element-populated {
        padding: 25px 15px 0;
    }
    .elementor-278
        .elementor-element.elementor-element-4124ba7
        .elementor-icon-box-icon,
    .elementor-278
        .elementor-element.elementor-element-46ff002
        .elementor-icon-box-icon,
    .elementor-278
        .elementor-element.elementor-element-62f01eb
        .elementor-icon-box-icon,
    .elementor-278
        .elementor-element.elementor-element-cabc51d
        .elementor-icon-box-icon,
    .elementor-278
        .elementor-element.elementor-element-e9d38d0
        .elementor-icon-box-icon,
    .elementor-278
        .elementor-element.elementor-element-fb8c028
        .elementor-icon-box-icon {
        margin-bottom: 30px;
    }
    .elementor-widget-heading .elementor-footer-title {
        margin-top: 16px;
    }
    .elementor-widget-heading .elementor-heading-title {
        text-align: center;
        width: 120%;
    }
    .elementor-heading-title-vrio {
        text-align: center;
        width: 120%;
    }
    #location-info {
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .elementor-widget-heading .elementor-heading-title {
        text-align: center;
        width: 110% !important;
    }
    .elementor-heading-title-vrio {
        text-align: center;
        width: 110% !important;
    }
}
